.weather {
    place-self: center;
    padding: 2.5rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(45deg, #c359b7, #b134b3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.search-bar input {
    height: 3.125rem;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    padding-left: 1.5625rem;
    color: #626262;
    background: #ebfffc;
    font-size: 1.125rem;
}

.search-bar img {
    width: 3.125rem;
    padding: 0.9375rem;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    height: 17rem;
    width: 17rem;
    margin: 1.25rem;
}

.temperature {
    color: #fff;
    font-size: 2.5rem;
}

.weather-data {
    width: 100%;
    margin-top: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-size: 1.375rem;
}

.weather-data span {
    display: block;
    font-size: 1rem;
}

.weather-data .col img {
    width: 1.625rem;
    margin-top: 0.625rem;
}
