.weather {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  transition: all 0.3s ease;
}

/* Sweden Theme */
.weather.sweden {
  background: linear-gradient(135deg, #005293, #fecc02);
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 82, 147, 0.5);
}

.weather.sweden .search-bar input,
.weather.sweden .search-bar select {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border: 2px solid #fecc02;
  padding: 5px;
  width: 100px;
}

.weather.sweden .temperature {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.732);
}

.weather.sweden .location {
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
}

/* .weather.sweden .weather-icon {
  width: 120px;
  margin-top: 20px;
} */

.weather.sweden .weather-data {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.weather.sweden .col {
  display: flex;
  align-items: center;
  text-align: left;
}

/* .weather.sweden .col img {
  width: 40px;
  margin-right: 10px;
} */
/* 
.weather.sweden .humidity,
.weather.sweden .wind {
  font-size: px;
} */

/* Rwanda Theme */
.weather.rwanda {
  background: linear-gradient(135deg, #00a1de, #fad201);
  color: white;
  box-shadow: 0 0 20px rgba(0, 161, 222, 0.5);
  
}

.weather.rwanda .search-bar input,
.weather.rwanda .search-bar select {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
  border: 2px solid #fad201;
}

.weather.rwanda .temperature {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(125, 118, 118, 0.3);
}

.weather.rwanda .location {
  font-size: 25px;
  font-weight: 500;
  margin-top: -10px;
}

.weather.rwanda .weather-icon {
  width: 120px;
  margin-top: 20px;
}

.weather.rwanda .weather-data {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.weather.rwanda .col {
  display: flex;
  align-items: center;
  text-align: left;
}

.weather.rwanda .col img {
  width: 40px;
  margin-right: 10px;
}

.weather.rwanda .humidity,
.weather.rwanda .wind {
  font-size: 24px;
}

/* Country Selector Styles */
.country-selector {
  margin-bottom: 20px;
}

.country-selector button {
  padding: 8px 10px;
  margin-right: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.weather.sweden .country-selector button {
  background-color: #fecc02;
  color: #005293;

}

.weather.sweden .country-selector button:hover {
  background-color: #005293;
  color: #fecc02;
}

.weather.rwanda .country-selector button {
  background-color: #fad201;
  color: #00a1de;
 
}

.weather.rwanda .country-selector button:hover {
  background-color: #00a1de;
  color: #fad201;
}

/* Search Bar Styles */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-bar select {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.search-bar img {
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
}




